@import '../../variables';
@import '../../mixins';

.button {
  @include button-shape;
  transition: background-color 0.2s;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: $bg-lighter;
  }

  &:empty {
    display: none;
  }

  &:active {
    background-color: transparent;
    box-shadow: none;
  }
}
