@import '../../variables';

.container {
  position: relative;

  &:focus-within {
    .shortKey {
      display: none;
    }
  }
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  height: calc(1.75rem + 1em);
  width: calc(1.75rem + 1em);
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  padding-left: calc(1.75rem + 1em + 0.5em);
  max-width: 100%;

  @media #{$media-sm-min} {
    width: 20em;
  }
}

.shortKey {
  position: absolute;
  top: 0.9em;
  right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid $comment;
  color: $comment;
  border-radius: 0.2em;
  display: none;

  @media #{$media-sm-min} {
    display: block;
  }
}
